<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      .button {
        background-color: #04aa6d; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
      }
      #input {
        height: 35px;
        font-size: 18px;
        font-family: "Times New Roman", Times, serif;
      }
      #form {
        height: max-content;
        width: max-content;
        padding: 15px;
        background-color: #04aa6d;
      }
      .device-list,
      .test-case-list {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Connected Devices</h1>
    <div class="device-list">
      <% if (devices.length === 0) { %>
      <p>No devices connected.</p>
      <% } else { %>
      <ul>
        <% devices.forEach(device => { %>
        <li><%= device.id %></li>
        <% }); %>
      </ul>
      <% } %>
    </div>

    <h1>Test Cases</h1>
    <div class="test-case-list">
      <form action="/results" method="get">
        <button class="button">Run All Test Cases</button>
      </form>

      <% testCases.forEach(testCase => { %>
      <form
        action="/run-test/<%= testCase %>"
        method="get"
        style="display: inline"
      >
        <button class="button"><%= testCase %></button>
      </form>
      <% }); %>
      <form id="form" action="/text" method="get">
        <input id="input" type="text" />
        <button class="button" style="background-color: black">
          Send Text
        </button>
      </form>
      <a href="/GoHome" class="button" style="background-color: orange">Home</a>
      <a href="/Back" class="button" style="background-color: orange">Back</a>

    </div>
  </body>
</html>
